<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IntentestC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B13DBDE41C3729B200606DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B13DBE001C3729B300606DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B13DBE0B1C3729B300606DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
